<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="logPath" value="./micro-log/micro-service-registry"/>
    <property name="serverName" value="micro-service-registry"/>
    <contextName>${logPath}</contextName>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${serverName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${serverName}.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>1825</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>
    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${serverName}.error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${serverName}.error.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>1825</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!--<appender name="quartzLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>${logPath}/quartzLog.log</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<fileNamePattern>${logPath}/quartzLog.%d{yyyy-MM-dd}-%i.log</fileNamePattern>-->
            <!--<maxHistory>1825</maxHistory>-->
            <!--<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
                <!--<MaxFileSize>30MB</MaxFileSize>-->
            <!--</TimeBasedFileNamingAndTriggeringPolicy>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->


    <logger name="cm.fpfos" level="INFO"/>
    <logger name="cm.netflix" level="INFO"/>
    <!-- show parameters for mybatis sql -->
    <logger name="log4j.logger.com.ibatis" level="DEBUG"/>
    <logger name="log4j.logger.com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG"/>
    <logger name="log4j.logger.com.ibatis.common.jdbc.ScriptRunner" level="DEBUG"/>
    <logger name="log4j.logger.com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG"/>
    <logger name="log4j.logger.java.sql.Connection" level="DEBUG"/>
    <logger name="log4j.logger.java.sql.Statement" level="DEBUG"/>
    <logger name="log4j.logger.java.sql.PreparedStatement" level="DEBUG"/>

    <!-- spring log level -->
    <logger name="org.springframework" level="INFO"/>


    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="rollingFile"/>
        <appender-ref ref="errorAppender"/>
    </root>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>

</configuration>
